<h1>Train System</h1>
<h3>Welcome to the {GENERIC TRAIN SYSTEM} home page!</h3>
<h5><b>You can do it all here! You can do exactly <em>five</em> things:</b></h5>
<div class="row">
  <div class="col-md-4 offset-4" id="special-list">
    <ol>
      <b>
      <li>Add a train</li>
      <li>Add a city</li>
      <li>Add a train stop</li>
      <li>Edit/Update/Delete pretty much EVERYTHING</li>
      <li>Buy a ticket</li>
      <li>Count higher than five</li>
      </b>
    </ol>
  </div>
</div>
<p>Are you a rider? Click here: <a href="/rider"><b>I'm a rider!!!!</b></a></p>
<p>Are you a fancy operator? Click here: <a href="/operator"><b>I run the train game!!!!</b></a></p>
