<form class="add-train" action="/add_train" method="post">
  <label for="add-train">Name of train</label>
  <input type="text" required="true" name="train_name"><br>
  <label for="add-train">Add the train's direction</label>
  <input type="text" required="true" name="train_direction"><br>
  <button type="submit">Add a train</button>
</form>
