<h1>Your Ticket:</h1>

<h2>Your name: <%= @info[:rider_details] %></h2>
<h2>Train: <%= @info[:train_details] %></h2>
<h2>To: <%= @info[:start_city_details] %></h2>
<h2>From: <%= @info[:end_city_details] %></h2>
