<h1>Train View</h1>
<form class="add-stop" action="/add_stop/<%= @train.id %>" method="post">
  <label for="time">Expected Arrival Time</label>
  <input type="text" required="true" name="time"><br>
  <label for="city">Add a city</label>
  <select name="city">
    <% @cities.each do |city| %>
      <option value="<%= city.id %>"><%= city.name %>, <%= city.state %></option>
    <% end %>
  </select><br>
  <button type="submit">Add a stop</button>
</form>
